// Color custom ---
$blue: #0066BA;
$blue-1: #1385E0;
$blue-weak: #CCE0F1;
$blue-2: #E3F2FD;
$blue-3: #F6FAFE;
$black: #000000;
$white: #ffffff;
$red: #B90000;
$gray-strong: #B8B8B8;
$gray: #E5E5E5;
$gray-weak: #EDEDED;
$orange: #E68000;
$green: #1C931C;
