@import "./variable";
// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/Kanit-Regular.ttf") format("truetype");
}

body {
  font-family: Kanit;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.w-100 {
  width: 100%;
}

// MUI Custom =======
.Mui-disabled {
  background-color: #e5e5e5;

  .MuiOutlinedInput-notchedOutline {
    border-color: #e5e5e5 !important;
  }
}

// ==================

// ========== Background color
.bg-white {
  background-color: #fff;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-gray-weak {
  background-color: $gray-weak !important;
}

// ========== Color
.color-blue {
  color: $blue !important;
}

.color-red {
  color: $red !important;
}

.color-black {
  color: $black !important;
}

.color-orange {
  color: $orange !important;
}

.color-green {
  color: $green !important;
}

// ========== Icons
.icon {
  &-active {
    background-color: $blue !important;
  }

  &-home {
    width: 40px;
    height: 40px;
    background-color: $white;
    mask: url("../assets/icons/icon-home.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/icon-home.svg") no-repeat center / contain;
  }

  &-back {
    width: 40px;
    height: 40px;
    background-color: $white;
    mask: url("../assets/icons/chevron-left.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/chevron-left.svg") no-repeat center / contain;
  }

  &-information {
    width: 40px;
    height: 40px;
    background-color: $black;
    mask: url("../assets/icons/menu/menu1.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/menu/menu1.svg") no-repeat center / contain;

    .active {
      background-color: $blue;
    }
  }

  &-charg {
    width: 40px;
    height: 40px;
    background-color: $black;
    mask: url("../assets/icons/menu/menu2.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/menu/menu2.svg") no-repeat center / contain;
  }

  &-history {
    width: 40px;
    height: 40px;
    background-color: $black;
    mask: url("../assets/icons/menu/menu3.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/menu/menu3.svg") no-repeat center / contain;
  }

  &-qrcode {
    width: 40px;
    height: 40px;
    background-color: $blue;
    mask: url("../assets/icons/icon-QR-code.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/icons/icon-QR-code.svg") no-repeat center / contain;
  }
}

// ========== General
.bottom-nav-icon {
  width: 40px;
}

.content {
  margin: 20px;
  margin-bottom: 60px;
}

.content-home {
  padding: 20px;
  overflow: hidden;
}

.content-qr {
  height: 60vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-check-in {
  margin: 20px;
  margin-bottom: 30px;
}

.content-checkin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.content-check-in-ck-co {
  margin: 20px;
  margin-bottom: 30px;
}

.content-fixed {
  position: fixed
}

.content-chargepoint {
  margin: 20px;
  margin-bottom: 0;

  .content-chargepoint-list {
    height: 72vh;
    overflow-y: scroll;
    padding-bottom: 30px;

    @media (min-height: 686px) {
      height: 78vh;
    }
  }
}

.title {
  color: $blue-1;
  font-size: 4.348vw;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2vh;
}

.title-register {
  color: $blue;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2vh;
}

.title-home {
  color: $blue;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2vh;
}

.title-history {
  color: $blue;
  font-size: 5.314vw;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2vh;
}

.title_1 {
  color: $blue;
  font-size: 5.314vw;
  font-weight: bold;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.title-cp {
  color: $blue;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.title-checkin {
  color: $blue;
  font-size: 6.763vw;
  // font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}

.title-new {
  color: $blue;
  font-size: 28px;
  // font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}

.sub-title-checkin {
  color: $blue-1;
  font-size: 4.348vw;
  margin: 0;
  margin-bottom: 2px;
}

.margin-down {
  margin-top: 97px;
}

.margin-down-new {
  margin-top: 159px;
}

.img-car-plug {
  width: 160%;
  margin: 0 60px 0 0;
}

.img-ev {
  width: 203.38px;
  margin: 10px 0 10px 0;
}

.home-label {
  color: $blue;
  font-weight: bold;
  font-size: 3.865vw;
  margin: 14px 0 0 0;
}

.home-value {
  font-size: 5.314vw;
  margin: 0;
}

.card {
  border: 2px solid $gray-strong;
  border-radius: 16px;
  // padding: 8px 0;
  margin: 10px 0 0 0;
  width: 53.623vw;
  height: 20.290vw;
}

.card-registration {
  min-width: 160px;
  text-align: center;

  .car-number {
    margin: 0;
    font-size: 6.763vw;
    font-weight: bold;
  }

  .car-province {
    margin: 0;
    font-size: 5.314vw;
  }
}

.car-detail {
  margin-top: 30px;
  margin-bottom: 20px;

  p {
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0;

    span {
      font-size: 16px;
      font-weight: normal;
    }
  }
}

.custom-menu {
  ul {
    background-color: $gray-weak;
    padding: 0 !important;
  }

  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background-color: $gray-weak;
  }
}

.mini-menu {
  margin: 0 10px;
  font-size: 3.382vw;
}

.display-flex {
  display: flex;
}

.select-car {
  color: $blue;
  background-color: $blue-weak;
  font-weight: 500;
  font-size: 12px;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0 6px 0 0;
  }
}

.select-car-list {
  color: $blue;
  background-color: $blue-weak;
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 14px;

  li {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

.p-0 {
  padding: 0 !important;
}

.card-blue {
  color: $blue-1;
  background-color: $blue-2;
  border-radius: 4px;
  padding: 8px 4.831vw;
  font-size: 3.865vw;
  font-weight: 500;
  box-shadow: 4px;
  margin: 6px 0;
  width: 100%;
  text-align: left;

  p {
    margin: 0;
  }

  .text-title {
    font-size: 4.348vw;
    padding-bottom: 5px;
  }

  .text-mini {
    font-size: 3.382vw;
    font-weight: 400;
    display: flex;
    padding-bottom: 5px;

    img {
      width: 3.382vw;
    }
  }
}

.box-shadow {
  box-shadow: 0px 0px 2px -3px rgb(0 0 0 / 10%), 0px 0px 10px 0px rgb(0 0 0 / 4%), 0px 0px 10px 0px rgb(0 0 0 / 2%);
}

.box-booking {
  color: $blue-1;
  font-size: 16px;
  font-weight: 500 !important;
}

.form-group {
  margin: 10px 0;
}

.placeholder {
  color: #b3b3b3 !important;
}

.label-input {
  font-size: 14px;
}

.input-file {
  border: 2px dashed $gray-weak;
  border-radius: 5px;
  margin: 20px 0;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $blue;
  text-decoration: underline;
  font-size: 3.382vw;
}

.chip-booked {
  // margin-left: 120px;
  // margin-bottom: 8px;
  text-align: center;
}

.car-regis-bar {
  width: 100%;
  text-align: center;
  background-color: $blue-2;
  padding-top: 14px;
  padding-bottom: 4px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.subtitle {
  color: $blue;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 2px;
}

.time-booking {
  color: $blue;
  font-size: 14px;
  font-weight: bold !important;
  margin-bottom: 6px !important;
}

.time-booked {
  background-color: $blue-weak !important;
  border-color: $blue-weak !important;
}

.time-selected {
  color: $blue;
  border-color: $blue !important;
}

.time-icon {
  position: absolute;
  margin-top: -31px;
  padding-left: 10px;

  .custom-icon {
    font-size: 16px;
    color: $blue;
  }
}

.btn-booking {
  min-width: 160px !important;
  height: 36px;
  // font-weight: bold!important;

  &:disabled {
    background-color: $blue-weak !important;
    color: #fff !important;
  }
}

.table-history {
  thead tr th {
    background-color: $blue-2 !important;
    color: $blue-1;
    font-weight: 600;
    border-bottom: none;
    padding: 5px 2px 10px 2px;
    line-height: 1.2;
  }

  .no-padding {
    padding: 6px 0 !important;
  }

  .no-padding-time {
    padding: 6px 0 6px 16px !important;
    font-size: 3.382vw;
  }

  .thead-padding {
    padding-left: 16px !important;
  }

  .thead-padding-month {
    padding: 10px 16px 0 16px !important;

  }
}

.bold {
  font-weight: bold !important;
}

.img-checkin {
  position: fixed;
  width: 500px;
  // height: 200px;
  top: 60%;
  left: 50%;
  // margin-top: -100px; /* Negative half of height. */
  // margin-left: -250px; /* Negative half of width. */
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 15px;
}

.img-checkin-wait {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cancel-scan {
  color: #fff;
  font-size: 3.382vw;
}

.btn-qrcode {
  margin-top: 40px;

  p {
    margin: 0;
    color: $blue;
    font-size: 12px;
  }

  .qr-confirm {
    color: #fff;
    font-size: 4.348vw;
  }
}

.btn-qrcode {
  width: 217px !important;
  height: 40px;
  background-color: #0066BA !important;

  &:disabled {
    background-color: $blue-weak !important;
    color: #fff !important;
  }
}

.bottom-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 40px;
}

.bottom-fixed-enter-qrcode {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 80px;
}

.bottom-fixed-enter-new {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 120px;
}


.bottom-fixed-connecting {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 40px;
}

.cancel-qrcode-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 40px;
}

.cancel-qrcode {
  margin: 0;
  color: rgb(59, 59, 59);
  font-size: 3.382vw;
}

// .sub-title {
//   color: $black;
//   font-size: 20px;
//   font-weight: normal;
//   margin: 0;
//   margin-bottom: 2px;
// }


.btn-custom {
  min-width: 217px !important;
  height: 40px !important;
  font-size: 18px !important;

  &:disabled {
    background-color: $blue-weak !important;
    color: #fff !important;
  }
}

.btn-cancel {
  min-width: 160px !important;
  color: $red !important;
  background-color: none !important;
  text-align: center;
  text-decoration: underline;
  margin: 6px 0;
}

@media only screen and (min-width: 320px) and (max-width: 359px) {

  .content-check-in {
    margin: 20px;
    margin-bottom: 30px;
  }

  .content-check-in-ck-co {
    margin: 20px 20px 0 20px;
  }

  .content-charg {
    margin: 20px;
    margin-bottom: 20px;
  }

  .process-circle {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px 0 15px 0;
  }

  .circle-process {
    position: relative;
    text-align: center;
    width: 77.964vw;
    font-size: 16px;
    line-height: 1;

    .text-charging {
      font-size: 5.314vw;
      font-weight: lighter;
    }

    .percent {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10px;

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .unit {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .circle-process-mini {
    width: 70%;
    position: absolute;
    padding-top: 16px;
  }

  .sub-title {
    color: $black;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
  }

  .charg-detail {
    margin: 8px 0 4px 0;
    font-size: 14px;
    font-weight: normal;

    .result {
      font-size: 18px;
    }

    p {
      margin: 0;
    }

    .mini {
      font-weight: normal;
      font-size: 12px;
    }
  }

  .input-qr {
    width: 300px !important;
    margin: auto;
  }

}

@media only screen and (min-width: 360px) and (max-width: 374px) {

  .content-charg {
    margin: 20px;
    margin-bottom: 27px;
  }

  .process-circle {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px 0 15px 0;
  }

  .circle-process {
    position: relative;
    text-align: center;
    width: 77.964vw;
    font-size: 16px;
    line-height: 1;

    .text-charging {
      font-size: 5.314vw;
      font-weight: lighter;
    }

    .percent {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10px;

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .unit {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .circle-process-mini {
    width: 70%;
    position: absolute;
    padding-top: 16px;
  }

  .sub-title {
    color: $black;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
  }

  .charg-detail {
    margin: 8px 0 4px 0;
    font-size: 16px;
    font-weight: normal;

    .result {
      font-size: 20px;
    }

    p {
      margin: 0;
    }

    .mini {
      font-weight: normal;
      font-size: 14px;
    }
  }

  .input-qr {
    width: 320px !important;
    margin: auto;
  }
}

@media only screen and (min-width: 375px) {

  .content-charg {
    margin: 20px;
    margin-bottom: 28px;
  }

  .process-circle {
    // position: relative; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .circle-process {
    position: relative;
    text-align: center;
    width: 77.964vw;
    font-size: 16px;
    line-height: 1;

    .text-charging {
      font-size: 5.314vw;
      font-weight: lighter;
    }

    .percent {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10px;

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .unit {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .circle-process-mini {
    width: 62%;
    position: absolute;
    padding-top: 16px;
  }

  .sub-title {
    color: $black;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
  }

  .charg-detail {
    margin: 8px 0 4px 0;
    font-size: 16px;
    font-weight: normal;

    .result {
      font-size: 24px;
    }

    p {
      margin: 0;
    }

    .mini {
      font-weight: normal;
      font-size: 14px;
    }
  }

  .input-qr {
    width: 350px !important;
    margin: auto;
  }
}

@media only screen and (min-width: 375px) and (min-height: 812px) {

  .content-charg {
    margin: 20px;
    margin-bottom: 28px;
  }

  .process-circle {
    // position: relative; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 40px 0 60px 0;
  }

  .circle-process {
    position: relative;
    text-align: center;
    width: 77.964vw;
    font-size: 16px;
    line-height: 1;

    .text-charging {
      font-size: 5.314vw;
      font-weight: lighter;
    }

    .percent {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10px;

      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .unit {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .circle-process-mini {
    width: 70%;
    position: absolute;
    padding-top: 16px;
  }

  .sub-title {
    color: $black;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2px;
  }

  .charg-detail {
    margin: 8px 0 4px 0;
    font-size: 16px;
    font-weight: normal;

    .result {
      font-size: 24px;
    }

    p {
      margin: 0;
    }

    .mini {
      font-weight: normal;
      font-size: 14px;
    }
  }
}

@media only screen and (min-height: 600px) {
  .m-top-100 {
    margin-top: 100px;
  }
}

.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: 180px;
  max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-pause {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: 315px;
  max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    margin-top: -35px;
  }

  .massage-pause {
    margin-top: -3px;
    margin-bottom: 24px;
  }
}

.modal-confirm {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: 176px;
  max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-confirm-charg {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  min-height: 38.647vw;
  background-color: #fff;
  padding: 20px 10px 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.modal-suspend {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: 50vw;
  // max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-stop-error {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: 50vw;
  // max-width: 300px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-btn-group-charg {
  display: flex;
  width: calc(100% + 20px);
  border-top: 1px solid $gray;

  .w-50 {
    width: 50%;
  }

  .border-right {
    border-right: 1px solid $gray;
    border-radius: 0;
  }

  button {
    font-size: 5.314vw;
  }
}

.modal-title {
  font-size: 5.797vw;
}

.modal-sub {
  font-size: 5.797vw;
}

.modal-pause-title {
  font-weight: bold;
}

.modal-pause-sub {
  font-size: 3.865vw;
}

.modal-title-regis {
  font-size: 5.314vw;
}

.modal-sub-regis {
  font-size: 3.865vw;
}

.mt-10 {
  margin-top: 20px !important;
}

.modal-btn-group {
  display: flex;
  width: calc(100% + 20px);
  margin-top: 10px;
  margin-bottom: -65px;
  border-top: 1px solid $gray;
  padding: 10px 12px !important;

  .w-50 {
    width: 50%;
  }

  .border-right {
    border-right: 1px solid $gray;
    border-radius: 0;
    color: $red;
  }
}

.modal-confirm-delete-vehicle {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  min-height: 38.647vw;
  background-color: #fff;
  padding: 20px 10px 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.modal-btn-group-delete-vehicle {
  display: flex;
  width: calc(100% + 20px);
  border-top: 1px solid $gray;

  .w-50 {
    width: 50%;
  }

  .border-right {
    border-right: 1px solid $gray;
    border-radius: 0;
    color: $red;
  }

  button {
    font-size: 5.314vw;
  }
}

.modal-btn-group-pause {
  display: flex;
  width: calc(100% + 20px);
  margin-top: 10px;
  margin-bottom: -12px;
  border-top: 1px solid $gray;

  .css-1pxob9d-MuiButtonBase-root-MuiButton-root {
    padding: 10px 12px;
  }

  .w-50 {
    width: 50%;
  }

  .border-right {
    border-right: 1px solid $gray;
    border-radius: 0;
    color: $red;
  }
}

.modal-select-layout {
  height: 100vh;
  padding-bottom: 30px;
}

.modal-select {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.modal-btn-back {
  width: 90%;
  height: 55px;
  background-color: rgb(219, 219, 219) !important;
  color: rgb(110, 110, 110) !important;
  font-size: 5.314vw !important;
}

.modal-btn-select {
  height: 55px;
  width: 100%;
  text-transform: none !important;
  font-size: 5.314vw !important;
}

.divider-full {
  width: 100%;
  border-top: 1px solid $gray;
}

.btn-none {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.scan-qrcode {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #3F4040;
}

.scan {
  position: fixed;
  width: 500px;
  // height: 200px;
  top: 50%;
  left: 50%;
  // margin-top: -100px; /* Negative half of height. */
  // margin-left: -250px; /* Negative half of width. */
  transform: translate(-50%, -50%);
  // position: relative;
  // width: 100%;
  text-align: center;
  color: #fff;
  // margin-top: 35%;

  p {
    margin: 0;
    color: black;
  }

  .scan-title {
    color: #fff;
    font-size: 6.763vw;
    // font-weight: bold;
  }

  .scan-sub {
    color: #fff;
    font-size: 6.763vw;
    margin-bottom: 2vh;
  }

  .enter-code {
    color: #fff;
    font-size: 4.831vw;
    margin-top: 5vh;
    // font-weight: bold;
  }

  img {
    width: 69.807vw;
    height: 69.807vw;
  }
}

.image-upload {
  margin-bottom: 10px;

  .btn-cancle-img {
    width: 100%;
    max-width: 60px;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
}

.show-img-upload {
  border: 2px dashed $gray-weak;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  padding: 20px 0 10px 0;

  p {
    color: $blue;
    text-decoration: underline;
    margin-top: -10px;
  }
}

.cover-preview-img {
  object-fit: cover;
  width: 70%;
  height: 120px;
  border-radius: 5px;
}

.height-100 {
  height: 100vh;
}

.loading {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.between-title {
  display: flex;
  justify-content: space-between;
}

.no-border {
  td {
    border-bottom: 0;
    text-align: center;
    height: 40vh;
  }
}

.button-cancel {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-connect {
  font-size: 34px;
  padding: 44px;
}

.error-stoped {
  img {
    width: 100%;
    max-width: 12.077vw;
  }

  .modal-title {
    margin-bottom: 10px
  }

  .modal-sub {
    margin-bottom: 6px
  }
}

.modal-btn-one {
  display: flex;
  width: calc(100% + 20px);
  margin-top: 10px;
  margin-bottom: -20px;
  border-top: 1px solid #E5E5E5;

  button {
    font-size: 5.314vw;
    font-weight: 400;
  }
}

.wait-connecting {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;

  .topic {
    color: $blue-1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  img {
    width: 120%;
  }
}

.btn-start-block {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 100px;
  background-color: #fff;
}

.btn-start-charging {
  width: 52.415vw;
  height: 9.662vw;
  color: white;
  padding: 5px 10px;
  border-radius: 5px !important;
  background-color: #0066BA !important;

  p {
    margin: 0;
    font-size: 4.348vw;
  }
}

.success {
  color: #16875F;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: #16875F;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.primary {
  color: $blue;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: $blue;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.inuse {
  color: #E06751;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: #E06751;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.preparing {
  color: #FFC107;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: #FFC107;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.warning {
  color: #2A64B4;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: #2A64B4;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.error {
  color: #9D9D9D;
  display: flex;
  margin: 2px 2.415vw 0 0;

  .img-charg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.208vw;
    background-color: #9D9D9D;
    border-radius: 50%;
    width: 4.831vw !important;
    height: 4.831vw !important;

    img {
      width: 3.382vw !important;
      height: 4.348vw !important;
      padding: 0.725vw;
    }
  }

  p {
    font-size: 1.932vw;
    line-height: 11px;
  }
}

.move-to-top {
  vertical-align: top !important;
}

.padding-margin-null {
  padding: 0 !important;
  margin: 0 !important;
}

.next-color {
  color: #1385E0 !important;
}

.select-month {
  width: 120px;
  height: 32px;
  margin-bottom: 15px;

  span {
    font-size: 2.899vw;
    color: #1385E0 !important;
  }
}

.cancel-button {

  color: #6C6C6C;
  font-size: 3.382vw;
}

.slick {
  text-align: center;
  border: 1px solid black;

  h3 {
    background-color: #C62828;
    border: 1px solid black;
  }
}

.slider-arrow {
  position: relative;
  text-align: center;
}

// .arrow-btn {
//   top: 45%;
//   z-index: 1;
// }
.next {
  // float: right;
  left: 94% !important;
  background-color: red !important;
  z-Index: 99;
}

.prev {
  left: 4px !important;
  background-color: red !important;
  z-Index: 99;
}

.background-qrcode {
  background-color: #3F4040;
}

.line-under-menu {
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-top-width: thin;
}

.menu-text-align {
  text-align: center;
  margin: 4px;
}

.tap-name-station {
  width: 100%;
  background-color: #E2EEF7;
  padding: 15px 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tap-name-title {
  color: $blue-1;
  font-size: 3.623vw;
  padding-left: 20px;
}

.tap-name {
  margin-left: 20px;
  margin-right: 20px;
  color: $blue-1;
  font-size: 18px;
  margin-top: -5px;
  overflow: hidden;
}

.tap-animation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  // animation: 4s linear 1s infinite alternate  bounce;
  // -webkit-animation: 4s linear 1s infinite alternate  bounce;
}


@keyframes bounce {
  from {
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }

  to {
    transform: translateX(-20vw);
    -webkit-transform: translateX(-20vw);
    -moz-transform: translateX(-20vw);
    -ms-transform: translateX(-20vw);
    -o-transform: translateX(-20vw);
  }
}

.connecting-status {
  position: fixed;
  width: 500px;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $blue-1;
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 25px !important;
}

.finish-text-circle-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finish-text-circle-sub1 {
  font-size: 12.077vw !important;
}

.finish-text-circle-sub2 {
  font-size: 4.348vw !important;
  font-weight: 100 !important;
}

.finish-circle-charge-img {
  width: 100%;
  margin: 10px 0;
  border-radius: 16px;
}

.process-text-circle-sub1 {
  font-size: 50px !important;
}

.process-text-circle-sub2 {
  font-size: 18px !important;
  font-weight: 100 !important;
}

.loading-gift {
  width: 100px;
  margin-bottom: 30px;
}

.loading-text {
  color: $blue-1;
}

.table-history-detail {

  .row-2,
  .row-3,
  .row-4,
  .row-5,
  .row-6 {
    // background-color: $blue-2 !important;
    // color: $blue-1;
    // border-bottom: none;
    // padding: 10px 2px;
    line-height: 30px;
    font-size: 3.865vw;
    font-weight: 600;
    padding: 0 24px;
  }

  .title-detail {
    font-weight: 400;
  }

  .row-1 {
    margin: 10px 24px 10px 0;
    color: $blue-1;
    display: flex;

    .header-detail-date {
      margin-top: 3px;
    }

    .back-detail {
      margin-top: 0;
      // font-size: 50px;
      font-size: 4.831vw !important;
    }

    b {
      font-size: 5.314vw;
      font-weight: 600;
    }

    span {
      font-size: 3.865vw;
      font-weight: 400;
    }
  }

  .sub-title-detail {
    font-size: 3.382vw !important;
    font-weight: 300 !important;
  }

  .MuiTableCell-root {
    border-bottom: none;
  }
}

.row-7 {
  margin: 12px 8px 0 8px;
  background-color: $blue-2;
  padding: 2px 0;
  border-radius: 6px;

  .title-detail {
    font-weight: 400;
    font-size: 3.865vw;
  }

  span {
    margin: auto 16px;
  }

  .sub-title-detail {
    font-size: 3.382vw !important;
    font-weight: 300 !important;
    margin: 0;
  }

  .result-ev {
    font-weight: 600 !important;
    font-size: 5.797vw !important;
    color: $blue-1;

  }
}

.header-detail {
  color: #0066BA !important;

  b {
    font-weight: 600 !important;
    font-size: 22px !important;
  }

  span {
    font-weight: 400 !important;
    font-size: 16px !important;
  }
}

.total-ev {
  background-color: #E2EEF7;
}

.month {
  font-size: 7.246vw !important;
  font-weight: 500 !important;
  color: #0066BA !important;
}

.total {
  font-size: 4.831vw !important;
  font-weight: 600 !important;
  color: #0066BA !important;
}

.input-qr,
input::placeholder {
  font-size: 18px;
  color: #B2B2B2;
}

@media only screen and (min-width: 768px) {
  .img-car-plug {
    width: 160%;
  }
}

.center-title {
  margin-top: -33px;
  margin-bottom: 15px;
}

.center-title-charg {
  margin-top: -16px;
  margin-bottom: 35px;
}

.slider-vehicle {
  width: 100%;

  .slick-slider .slick-disabled {
    .slide-icon-next {
      color: #cccccc;
    }

    .slide-icon-prev {
      color: #cccccc;
    }
  }
}

.slider-item {
  height: 66vh;
  overflow: scroll;
  padding: 0 10px 20px 10px;

  @media (min-height: 686px) {
    height: 74vh;
  }

  .slide-img-crop {
    width: 100%;
    height: 48.309vw;
    position: relative;
    overflow: hidden;
    border-radius: 16px;

    img {
      border-radius: 16px;
      position: absolute;
      width: 100%;
      min-height: 48.309vw;
      top: 0; 
      bottom: 0; 
      margin: auto;
    }
  }
}

.img-car {
  width: 100%;
  margin: 10px 0;
  border-radius: 16px;
  object-fit: cover;
  height: 200px;
}

.block-title-img {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.check-true {
  width: 96px;
  height: 74px;
  overflow: hidden;
  margin-bottom: 10px;
}

.check-true img {
  width: 96px;
  overflow: hidden;
}

.modal-sub-error-stop {
  font-size: 4.348vw;
  font-weight: 300;
  margin-bottom: 10px;
}

.button-regis-edit {
  width: 217px;
  height: 40px;
  font-size: 18px !important;
}

.button-skip {
  color: #6C6C6C;
  font-size: 14px;
}

.select {
  width: 155px !important;
  display: flex !important;
  justify-content: center !important;
}

.font-table-history {
  font-size: 3.865vw !important;
}

.font-table-row {
  font-size: 2.899vw;

  span {
    font-size: 2.415vw;
  }
}

.modal-btn-qrcode-error {
  display: flex;
  width: calc(100% + 20px);
  border-top: 1px solid $gray;
  justify-content: center;
  button {
    color: #6C6C6C;
    font-size: 5.650vw;
  }
}